$font_color: #202020;
//$color:

@mixin button {
  width: 250px;
  height: 40px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  box-sizing: border-box;
  padding: 10px 20px;
  position: relative;
  filter: brightness(90%);
}