$font_color: #202020;
$border: 1px solid #f0f0f0;

@mixin button {
  width: 250px;
  //height: 40px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  box-sizing: border-box;
  padding: 10px 20px;
  position: relative;
  //filter: brightness(90%);
}

@mixin button_link {
  font-size: 1.3rem;
  color: $font_color;
  text-decoration: underline;
}

@mixin inputForm {
  width: 100%;
  font-size: 1.6rem;
  background-color: #f0f0f0;
  border-radius: 4px;
  border: none;
  padding: 8px 35px 8px 16px;
}

@mixin checkbox {
    label {
      span.check {
        vertical-align: middle;
        display: inline-block;
        margin-right: 15px;
        width: 20px;
        height: 20px;
        border: 2px solid #e0e0e0;
        border-radius: 3px;
        i.fa-check {
          display: none;
          position: relative;
          bottom: 3px;
        }
      }
    }
    input[type="checkbox"] {
      display: none;
      &:checked + label {
        span i.fa-check {
          display: inline-block;
        }
      }
    }
}