@font-face {
    font-family: "glyphicons-halflings-regular";
    font-style: normal;
    font-weight: normal;
    src: url("../font/glyphicons-halflings-regular.woff") format("woff")}

@font-face {
    font-family: "NotoSans";
    font-style: normal;
    font-weight: normal;
    src: url("../font/NotoSans.woff") format("truetype"); }

@font-face {
    font-family: "NotoSans-Bold";
    font-style: normal;
    font-weight: bold;
    src: url("../font/NotoSans-Bold.woff") format("truetype"); }

@font-face {
    font-family: "toyotadisplay_bd";
    font-style: normal;
    font-weight: bold;
    src: url("../font/toyotadisplay_bd.woff") format("truetype"); }

@font-face {
    font-family: "toyotadisplay_rg";
    font-style: normal;
    font-weight: normal;
    src: url("../font/toyotadisplay_rg.woff") format("truetype"); }